<%- include("../partials/header") %> 
<link rel="stylesheet" href="/css/resources/signUp.css">
<%- include("../partials/nav") %> 

<form action="/auth/login" method="POST">
    <h2>Log in</h2>
    <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email" />
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password" />
    </div>
    <div class="form-group">
        <input type="submit" class="form-control btn btn-primary" value="Sign Up" />
    </div>
</form>

<!-- For nav bar -->
<script src="/js/nav_fix.js"></script>
<%- include("../partials/bootstrapFooter") %>