<%- include("../partials/header") %>
<link rel="stylesheet" href="/css/resources/addBlog.css"> 
<%- include("../partials/nav") %> 

<form action="/admin/add-blog" method="POST" enctype="multipart/form-data">
    <h2>Add Your Ideal Post</h2>
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="blogTitle" placeholder="Title" />
    </div>
    <div class="form-group">
        <label>Category</label>
        <select name="category" class="form-control">
            <option value="android">Android</option>
            <option value="web">Web</option>
            <option value="windows">Windows</option>
        </select>
    </div>
    <div class="form-group">
        <label>Image</label>
        <input type="file" name="imageUrl" class="form-control-file" />
    </div>
    <div class="form-group">
        <textarea name="script" id="myTinyTextarea" placeholder="Script..." cols="30" rows="15"></textarea>
    </div>
    <div class="button">
        <button class="btn btn-info">Post</button>
    </div>
</form>
<!-- For nav bar -->
<script src="/js/nav_fix.js"></script>
<%- include("../partials/bootstrapFooter") %> 