<%- include("../partials/header") %> 
<link rel="stylesheet" href="/css/resources/404.css">
<div class="pnf">
    <h1>404 Page Not Found!</h1>
</div>

<script src="/js/nav_fix.js"></script>
<%- include("../partials/footer") %> 