</head>
<body>
<!-- Header -->
<header>
    <div class="logo">
        <a href="/">
            <img src="/photos/brand_white.png" alt="logo" class="brand-wp">
        </a>
    </div>
    <nav>
        <ul>
            <li class="nav-list">
                <a href="/" class="nav-item">Home</a>
            </li>
            <li class="nav-list sub-menu">
                <a href="#" class="nav-item">Project</a>
                <ul>
                    <li><a href="/projects?pname=web">Web</a></li>
                    <li><a href="/projects?pname=android">Android</a></li>
                    <li><a href="/projects?pname=windows">Windows</a></li>
                </ul>
            </li>
            <li class="nav-list">
                <a href="#" class="nav-item">Blog</a>
            </li>
            <li class="nav-list">
                <a href="#" class="nav-item">Contact</a>
            </li>
            <li class="nav-list">
                <a href="/addProject" class="nav-item">Add Project</a>
            </li>
        </ul>
    </nav>
</header>