</head>
<body>
<!-- Header -->
<div class="test">
<header>
    <div class="logo">
        <a href="/">
            <img src="/photos/brand_white.png" alt="logo" class="brand-wp">
        </a>
    </div>
    <nav>
        <ul>
            <li class="nav-list">
                <a href="/" class="nav-item <%= route === '/' ? 'active' : '' %> ">HOME</a>
            </li>
            <li class="nav-list sub-menu">
                <a href="" class="nav-item <%= route === '/projects' ? 'active' : '' %> ">PROJECT</a>
                <ul>
                    <li>
                        <a href="/projects?pType=web">WEB</a>
                    </li>
                    <li>
                        <a href="/projects?pType=android">ANDROID</a>
                    </li>
                    <li>
                        <a href="/projects?pType=windows">WINDOWS</a>
                    </li>
                </ul>
            </li>
            <li class="nav-list">
                <a href="#" class="nav-item">BLOG</a>
            </li>
            <li class="nav-list">
                <a href="#" class="nav-item">CONTACT</a>
            </li>
            <li class="nav-list">
                <a href="/addProject" class="nav-item <%= route === '/addProject' ? 'active' : '' %> ">ADD PROJECT</a style="margin-left: auto;">
            </li>
            <li class="nav-list" style="margin-left: auto;">
                <a href="#" class="nav-item">SIGN IN<i class="far fa-user" style="margin-left: 0.7rem;"></i></a>
            </li>
        </ul>
    </nav>
</header>