</head>
<body>
<!-- Header -->
<div class="test">
<header>
    <div class="logo">
        <a href="/">
            <img src="/photos/brand_white.png" alt="logo" class="brand-wp">
        </a>
    </div>
    <nav>
        <ul>
            <li class="nav-list">
                <a href="/" class="nav-item <%= route === '/' ? 'active' : '' %> ">Home</a>
            </li>
            <li class="nav-list sub-menu">
                <a href="" class="nav-item <%= route === '/projects' ? 'active' : '' %> ">Project</a>
                <ul>
                    <li>
                        <a href="/projects?pType=web"
                        
                        >Web</a>
                    </li>
                    <li>
                        <a href="/projects?pType=android">Android</a>
                    </li>
                    <li>
                        <a href="/projects?pType=windows">Windows</a>
                    </li>
                </ul>
            </li>
            <li class="nav-list">
                <a href="#" class="nav-item">Blog</a>
            </li>
            <li class="nav-list">
                <a href="#" class="nav-item">Contact</a>
            </li>
            <li class="nav-list">
                <a href="/addProject" class="nav-item <%= route === '/addProject' ? 'active' : '' %> ">Add Project</a>
            </li>
        </ul>
    </nav>
</header>