<%- include("./partials/header") %> 
<%- include("./partials/nav") %> 

<!-- Image Section -->

<div class="slider">
    <!-- Image Slider -->
    <slider>
        <slide></slide>
        <slide></slide>
        <slide></slide>
        <slide></slide>
    </slider>
    <div class="textBox">
        <img src="/photos/logo.png" alt="Logo">
        <div class="heroText">
            <h1>Future <br>Information <br>Technology (F.I.T)</h1>
            <hr>
            <p class="motto">Work more than you can do.</p>
        </div>
    </div>
</div>

<div class="index-body">
    <div class="aboutUs">
        <h2 class="heading">About Us</h2>
        <div class="row">
            <div class="col span-1-of-3">
                <div>
                    <h3>Defination</h3>
                    <p>Future Information Technology(F.I.T) is an association(organization/ team/ club) for students in Technological University(Mawlamyine) who are interested in practical and practical work.</p>
                </div>
            </div>
            <div class="col span-1-of-3">
                <div>
                    <h3>Objectives</h3>
                    <h4>The purpose of F.I.T is as follows:</h4>
                    <ul>
                        <li>To create an environment of the technology development university</li>
                        <li>To create a community that can be together in a single community for students who are interested in technology and want to practice</li>
                        <li>To make it better the existing skills of the students</li>
                    </ul>
                </div>
            </div>
            <div class="col span-1-of-3">
                <div>
                    <h3>Policy</h3>
                    <p>To be an environment of the technology development university, we have set the following policies:</p>
                    <ul>
                        <li>To be more interested in practical for students</li>
                        <li>To develop better projects</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="training">
        <h2 class="heading">Training Course</h2>
        <img src="/photos/training1.jpeg" alt="Arduino Class" class="photo">
        <a href="#">Learn more</a>
    </div>

    <div class="activity">
        <h2 class="heading">Our Activity</h2>
        <div class="image">
            <img src="/photos/training1.jpeg" alt="Projects Show & Competition - 2020" class="photo" id="activityPhoto">
        </div>
        <div class="caption">
            <p id="text">Arduino Class</p>
            <div class="div">
                <i class="fas fa-arrow-left" onclick="pre();"></i>
                <i class="fas fa-arrow-right" onclick="next();"></i>
            </div>
        </div>
    </div>
</div>


<%- include("./partials/footer") %> 