.project-body {
	width: 100%;
	height: auto;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.project-body .container {
	padding-bottom: 0;
}

.project-body .container h1::after {
	width: 100px;
}

.projectType {
	display: none;
}

.icon-section {
	width: 110px;
	height: 110px;
	margin: 0 auto 1.5rem auto;
}

.icon-section img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: 5px 5px 6px #00000029;
	transition: all 0.3s;
}

.icon-section img:hover {
	transform: scale(1.05);
}

.caption {
	text-align: center;
	width: 100%;
}

.caption a:link,
.caption a:visited {
	padding-bottom: 7px;
	text-decoration: none;
	font-size: 110%;
	color: #000;
	border: 1px solid transparent;
	transition: all 0.3s;
}

.caption a:hover,
.caption a:active {
	border-bottom: 1px solid #0056b3;
}

/* ================ */
/* Project Text Box */
/* ================ */
.project-textBox {
	border-left: 4px solid #084038;
	padding-left: 1rem;
}

.project-textBox h1 {
	text-align: left;
	margin-top: 0;
}

.project-textBox h1::after {
	width: 0;
	height: 0;
	margin: 0;
}

/* ================ */
/* Pagination */
/* ================ */
.pagination-section {
	width: 100%;
	text-align: center;
	padding: 1.5rem 0;
	border-top: 1px solid #084038;
}

.direction {
	width: 24.5%;
	display: inline-block;
}

.direction:nth-child(1) a {
	margin-left: auto;
}

.direction a:link,
.direction a:visited {
	display: block;
	width: 150px;
	height: 45px;
	line-height: 45px;
	font-size: 115%;
	text-decoration: none;
	color: #084038;
	border: 1px solid #084038;
	border-radius: 25px;
	box-shadow: 3px 2px 6px #00000059;
	transition: all 0.3s;
}

.direction a:hover,
.direction a:active {
	color: #fff;
	background-color: #084038;
}

.pagination {
	width: 50%;
	display: inline-block;
}

.pagination div {
	width: 45px;
	height: 45px;
	line-height: 45px;
	border: 1px solid #084038;
	border-radius: 50%;
	margin: 0 10px;
	display: inline-block;
}

.paginationLink:link,
.paginationLink:visited {
	color: #084038;
	width: 92%;
	height: 92%;
	margin-top: 4%;
	font-size: 115%;
	border-radius: 50%;
	display: inline-block;
	text-decoration: none;
	transition: all 0.3s;
}

.paginationLink:hover,
.paginationLink:active {
	color: #fff;
	background-color: #084038;
}

.paginationLink.paginationLinkActive {
	color: #fff;
	background-color: #084038;
}

/* ================ */
/* Project Form*/
/* ================ */

.container {
	padding: 3.5rem 0 3rem 0;
}

.addProject {
	width: 350px;
	margin: 0 auto;
}

.addProject label {
	display: block;
	margin-bottom: 0.5rem;
}
