form {
	width: 80%;
	margin: 100px auto 10px auto;
	padding: 10px 20px;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 4px #ddd;
}

h2 {
	margin-bottom: 20px;
}

.button {
	display: flex;
	justify-content: center;
}

.btn {
	width: 100px;
}
