h1,
h2,
h3 {
	text-align: left;
	margin: 8px 0;
}

h1::after,
h2::after,
h3::after {
	width: 0;
	height: 0;
	margin: 0;
}

.blog {
	width: 65%;
	margin: 75px auto 30px auto;
	box-sizing: border-box;
}

.blog__textBox {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.blog__textBox__text h1 {
	margin: 0 0 1rem 0;
	color: #050b65;
	font: 700 36px 'Playfair Display', serif;
}

.postInfo span {
	color: #bd7f60;
	margin-right: 10px;
	font: 700 15px 'Maven Pro', sans-serif;
	letter-spacing: 0.5px;
}

.blogImg {
	width: 80%;
	height: auto;
	margin: 20px 10% 25px 10%;
}

.script * {
	font-family: 'Maven Pro', sans-serif;
}

.script p {
	font-size: 16px;
}

.link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.link button {
	background-color: #fff;
	border: none;
	outline: none;
	font: 700 16px 'Maven Pro', sans-serif;
	color: #050b65;
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
}

.link button:hover {
	border-bottom: 1px solid #050b65;
}

.link p {
	color: #050b65;
	font: 700 16px 'Maven Pro', sans-serif;
	letter-spacing: 0.8px;
}

.link p i {
	margin-left: 10px;
	font-size: 22px;
}

.line_break {
	width: 100%;
	background-color: #bbb;
	margin: 20px 0 17px 0;
}

/* ============== */
/* Latest Post */
/* ============== */
.latest_posts h2 {
	color: #1d2379;
	font: 700 28px 'Playfair Display', serif;
	letter-spacing: 0.2px;
}

.latest_posts h2::after {
	content: "";
	display: block;
	width: 145px;
	height: 1px;
	background-color: #1d2379;
	margin-top: 10px;
}

.latest_post_lists {
	margin-top: 10px;
}

.latest_post_list {
	padding: 7px 0;
}

.latest_post_title {
	margin: 0;
}

.latest_post_title a {
	color: #1d2379;
	font: 400 16px 'Maven Pro', sans-serif;
}
