h1,
h2,
h3 {
	text-align: left;
	margin: 8px 0;
}

h1::after,
h2::after,
h3::after {
	width: 0;
	height: 0;
	margin: 0;
}

.no_post_found {
	text-align: center;
	color: #aaa;
	margin: 100px 0 50px 0;
}

.blog {
	width: 65%;
	margin: 80px auto 0 auto;
}

/* ================ */
/* Filter */
/* ================ */
.filter_button {
	position: relative;
}

.filter_btn {
	position: absolute;
	right: 10px;
	outline: none;
	border: none;
	border-right: 4px solid #084038;
	padding: 3px 8px 3px 0;
	letter-spacing: 0.6px;
	font: 600 19px 'Playfair Display', serif;
	background-color: #00000000;
	color: #b86b45;
	transition: all 0.3s;
}

.filter_btn:hover {
	color: #d87b4d;
}

.blog__filter {
	position: fixed;
	z-index: 100;
	right: 240px;
	top: 120px;
	transform: translateY(-100vh);
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	padding: 20px 30px 72px 30px;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #084038;
	border-radius: 20px;
	transition: all 0.3s ease-out;
}

.blog__filter.display {
	transform: translateY(0);
}

.choice {
	display: inline-block;
	width: 150px;
	padding: 0 7px;
}

.choice label {
	display: block;
	color: #084038;
	font: 700 18px 'Playfair Display', serif;
}

.choice select {
	width: 100%;
	outline: none;
	padding: 5px 3px;
	box-sizing: border-box;
	border: 1px solid #084038;
	border-radius: 3px;
}

.submit {
	position: absolute;
	bottom: 10px;
	right: 35px;
}

.submit input {
	margin: 10px 5px;
	padding: 5px 25px;
	box-sizing: border-box;
	color: #fff;
	border: 1px solid #02085c;
	background-color: #02085c;
	border-radius: 20px;
	transition: all 0.3s;
}

.submit input:nth-child(1) {
	border: 1px solid #aaa;
	background-color: #ccc;
	color: black;
}

.submit input:hover {
	box-shadow: 2px 2px 5px #aaa;
}

/* ============= */
/* For Posts */
/* ============= */

.col:nth-child(1) {
	position: relative;
}

.post_section {
	padding-top: 40px;
}

.postBox {
	width: 100%;
	height: auto;
	margin: 15px 0 25px 0;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 15px;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 5px #cfcfcf;
	transition: all 0.3s;
}

.postTitle {
	font: 700 30px 'Playfair Display', serif;
	margin-top: 0;
	color: #02085c;
}

.script * {
	color: #084038;
	letter-spacing: 0.5px;
	font: 400 initial 'Maven Pro', sans-serif;
}

.postLink:link,
.postLink:visited {
	font: 700 15px 'Maven Pro', sans-serif;
	letter-spacing: 0.5px;
	color: #b86b45;
	position: absolute;
	bottom: 0px;
}

.postLink:hover,
.postLink:active {
	text-decoration: none;
	color: #924d2a;
}

.postImg {
	width: 100%;
	height: auto;
	border-radius: 30px;
}

/* ================ */
/* Pagination */
/* ================ */
.pagination-section {
	width: 100%;
	text-align: center;
	padding: 1.5rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #ccc;
}

.direction a {
	text-decoration: none;
	font-size: 18px;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination div {
	margin: 0 10px;
}

.pagination div a:link,
.pagination div a:visited {
	font-size: 18px;
}

.pagination div a:hover,
.pagination div a:active {
	text-decoration: none;
	text-shadow: 0px 0px 4px #ddd;
}

.pagination div a.paginationLinkActive {
	background-color: #ddd;
	padding: 3px 8px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 50%;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.788);
}
