form {
	width: 380px;
	margin: 10px auto;
	padding: 10px 20px;
	margin-top: 115px;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 4px #ddd;
}

form h2 {
	text-align: left;
	margin: 5px 0 20px 0;
}

form h2::after {
	width: 0;
	height: 0;
}

input[type=submit] {
	background-color: #084038;
	color: white;
}

input[type=submit]:hover {
	background-color: #022923;
	color: white;
}
